body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    height: 50px;
    width: auto;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    box-shadow: grey 2px 1px 15px;
    background-color: lightblue;
}

h1 {
    color: black;
    align-self: center;
}

#camera-block {
    display: flex;
    padding: 10px;
}

#available-cameras {
    border: 2px solid black;
    margin-right: 10px;
    padding: 2px;
    background-color: cadetblue;
    border-radius: 5px;
}

#btn-select {
    font-weight: bold;
    background-color: chocolate;
}

video {
    width: 100vw;
    height: 100vh;
}