body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    height: 50px;
    width: auto;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    box-shadow: grey 2px 1px 15px;
    background-color: lightblue;
}

h1 {
    color: black;
    align-self: center;
}

#camera-block {
    display: flex;
    padding: 10px;
}

#btn-select {
    font-weight: bold;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: grey 2px 2px 2px;
    cursor: pointer;
}

#available-cameras {
    position: fixed;
    padding: 5px;
}

video {
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    #btn-select {
        font-size: 10px;
    }
}